xhtml2pdf==0.2.5
dj-database-url==0.5.0
dj-static==0.0.6
Django==3.0.8
django-environ==0.4.5
django-js-asset==1.2.2
django-psycopg2-extension==0.0.5
Pillow==8.1.0
psutil==5.5.1
psycopg2-binary==2.8.6
gunicorn==20.1.0
whitenoise==5.2.0
django-pwa==1.0.10