{% extends 'core/base_student.html' %} 
{% load static %}
{% block title %}Cambio De Contraseña{% endblock %}
{% block estiloextras %}
<link rel="stylesheet" href="{% static 'core/css/table.css' %}">
<link rel="stylesheet" href="{% static 'core/css/reset-password.css' %}">
{% endblock %}
{% block content %}
<h1 class="titulo">Perfil</h1>
			<hr>
			<div class="container">
				<div class="header-form">
					<h2>Cambio De Contraseña</h2>
				</div>
				<form id="form" method="POST" class="form">
					{% csrf_token %}
					<div class="form-control">
						<label for="username">Nueva Contraseña</label>
						<input type="password" name="password1" placeholder="Nueva Contraseña" required/>
						
					</div>
					<div class="form-control">
						<label for="username">Confirmar Nueva Contraseña</label>
						<input type="password" name="password2" placeholder="Confirmar Nueva Contraseña" required/>
						
					</div>
					<button>Guardar</button>
				</form>
			</div>
{% endblock %}
