{% load static %} 
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>{% block title %}{% endblock %}</title>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans|Oswald&display=swap" rel="stylesheet"> 
	<link rel="stylesheet" href="{% static 'core/css/normalize.css' %}">
	<link rel="stylesheet" href="{% static 'core/css/estilos.css' %}">
	<link rel="stylesheet" href="{% static 'core/css/toast.css' %}">
	<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
	{% block estiloextras %}{% endblock %}
</head>
<body>
	<div class="contenedor active" id="contenedor">
		<header class="header">
			<div class="contenedor-logo">
				<button id="boton-menu" class="boton-menu"><i style="color: white;" class="fas fa-bars fa-lg"></i></button>
				<a href="#" class="logo"><img class="logo-menu" src="{% static 'core/img/Angeles.png' %}" alt=""></a>
			</div>
			<div class="botones-header">
				<p class="name-user">{{alumno_perfil.nombre}} {{alumno_perfil.apellido}}</p>
				<a class="avatar"><img src="{% static 'core/img/avatar.jpg' %}" alt=""></a>
			</div>
		</header>

		<nav class="menu-lateral">
			<hr>
			<a href="{% url 'student_finance' %}"><i style="color: white;" class="icon-stile fas fa-user fa-lg"></i> Regresar</a>
			<hr>
			<a href="{% url 'profile_student' alumno_perfil.matricula %}"><i style="color: white;" class="icon-stile fas fa-dollar-sign fa-lg"></i> Estado de Cuenta</a>
			<hr>
			<a href="{% url 'payments_student' alumno_perfil.matricula %}"><i style="color: white;" class="fas fa-credit-card fa-lg"></i> Pagos</a>
			<hr>
			<a href="{% url 'password_reset_student' alumno_perfil.matricula %}"><i style="color: white;" class="icon-stile fas fa-key fa-lg"></i> Modificar su Contraseña</a>
			<hr>
		</nav>

		{% if messages %}
			{% for message in messages %}
				{% if message.tags == 'success' %}
					<div class="correct hide">
						<span class="fas fa-check"></span>
						<span class="msg">{{message}}</span>
						<div class="close-btn">
						  <span class="fas fa-times"></span>
						</div>
					</div>
				{% endif %}
				{% if message.tags == 'info' %}
					<div class="alert hide">
						<span class="fas fa-exclamation-circle"></span>
						<span class="msg">{{message}}</span>
						<div class="close-btn">
						  <span class="fas fa-times"></span>
						</div>
					</div>
				{% endif %}
			{% endfor %}
		{% endif %}

		<main class="main">
			{% block content %}{% endblock %}
		</main>
	</div>
	<script src="{% static 'core/js/toast.js' %}"></script>
	<script src="https://kit.fontawesome.com/2c36e9b7b1.js" crossorigin="anonymous"></script>
	<script src="{% static 'core/js/main.js' %}"></script>
</body>
</html>
