<input type="checkbox" id="nav-toggle">
  <div class="sidebar">
      <div class="sidebar-brand">
          <h2>
              <span>UA</span>
              <span>Universidad</span>
          </h2>
      </div>
      <div class="sidebar-menu">
          <ul>
              <li>
                  <a href="" class="active">
                      <span class="las la-igloo"></span>
                      <span>Dashboard</span>
                  </a>
              </li>
              <li>
                  <a href="estudiantes.html">
                      <span class="las la-users"></span>
                      <span>Estudiantes</span>
                  </a>
              </li>
              <li>
                  <a href="pagos.html">
                      <span class="las la-clipboard-list"></span>
                      <span>Pagos</span>
                  </a>
              </li>
              <li>
                  <a href="adeudos.html">
                      <span class="las la-clipboard"></span>
                      <span>Reportes</span>
                  </a>
              </li>
              <li>
                  <a href="reset-password.html">
                      <span class="las la-user-circle"></span>
                      <span>Cambiar contraseña</span>
                  </a>
              </li>
              <li>
                  <a href="">
                      <span class="la la-sign-out"></span>
                      <span>Cerrar Sesión</span>
                  </a>
              </li>
          </ul>
      </div>
  </div>
