{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title></title>
	<meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=3.0, minimum-scale=1.0">
 <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" >
	<link rel="stylesheet" href="{% static 'core/css/login.css' %}">


</head>
<body>
	<input type="checkbox" id="nav-toggle">
<div class="sidebar">
		<div class="sidebar-brand">
				<h2>
						<span>UA</span>
						<span>Universidad</span>
				</h2>
		</div>
		<div class="sidebar-menu">
				<ul>
						<li>
								<a href="estudiantes.html">
										<span class="las la-users"></span>
										<span>Estudiantes</span>
								</a>
						</li>
						<li>
								<a href="pagos.html">
										<span class="las la-clipboard-list"></span>
										<span>Pagos</span>
								</a>
						</li>
						<li>
								<a href="adeudos.html">
										<span class="las la-clipboard"></span>
										<span>Reportes</span>
								</a>
						</li>
				</ul>
		</div>
</div>

 <form class="formulario">

    <h1>¿Olvidaste tu Contraseña?</h1>
     <div class="contenedor">

     <div class="input-contenedor">
          <i class="fas fa-envelope icon"></i>
         <input type="text" placeholder="Introduce tu Correo">
         </div>

         <input type="submit" value="Restablecer Contraseña" class="button">
         <p></p>
         <p>¿Restablecida?<a class="link" href="{% url 'login' %}">Iniciar Sesion</a></p>
     </div>
    </form>
</body>
</html>
