{% load static %}
{% load pwa %}
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title></title>
	<meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=3.0, minimum-scale=1.0">
 <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" >
	<link rel="stylesheet" href="{% static 'core/css/login.css' %}">

    {% progressive_web_app_meta %}
</head>
<body>

 <form class="formulario">

    <h1>¿Olvidaste tu Contraseña?</h1>
     <div class="contenedor">
     <div class="input-contenedor">
          <i class="fas fa-envelope icon"></i>
         <input type="text" placeholder="Introduce tu Correo">
         </div>

         <input type="submit" value="Restablecer Contraseña" class="button">
         <p></p>
         <p>¿Restablecida?<a class="link" href="{% url 'login' %}">Iniciar Sesion</a></p>
     </div>
    </form>
</body>
</html>
