{% extends 'core/base_finance2.html' %} 
{% load static %}
{% block title %}Pagos{% endblock %}
{% block titleheader %}Pagos{% endblock %}
{% block estiloextras %}
<link rel="stylesheet" href="{% static 'core/css/forms-style.css' %}">
{% endblock %}
{% block content %}
			<a class="cancelar-pago" href="{% url 'report_finance' %}">Cancelar</a>
			<div class="container">
				<form action="" method="POST">
					{% csrf_token %}
					<div class="form-row">
						<div class="input-data">
							<input type="text" disabled value="{{tramiteget.clave_alumno.matricula}}">
							<div class="underline">
							</div>
							<label for="">Matricula</label>
						</div>
						<div class="input-data">
							<input type="text" disabled value="{{tramiteget.clave_alumno.nombre}}">
							<label for="">Nombre</label>
						</div>
					</div>
				<div class="form-row">
					<div class="input-data">
						<input type="text" disabled value="{{tramiteget.clave_pago}}">
						<div class="underline">
							
						</div>
						<label for="">Pago</label>
					</div>
					<div class="input-data">
						<input type="text" disabled value="{{tramiteget.monto_adeudo}}">
						<div class="underline">
							
						</div>
						<label for="">Adeudo</label>
					</div>
				</div>
				<div class="form-row">
					<!-- <div class="input-data">
						<input type="text" disabled value="Total a Pagar">
						<div class="underline">
							
						</div>
						<label for="">Total a Pagar</label>
					</div> -->
					
					<div class="input-data">
						<input type="number" name="pago_monto" required>
						<div class="underline">
							
						</div>
						<label for="">Monto a Pagar</label>
					</div>
				</div>
					{% for message in messages %}
					<p id="messages">{{message}}</p>
					{% endfor %}
					  <div class="form-row submit-btn">	
						  <div class="input-data">
							  <div class="inner"></div>
							  <input type="submit" value="Guardar">
							</div>
						</div>
					</form>
				</div>
			</div>
{% endblock %}
