{% extends 'core/base_finance.html' %}
{% block title %}Dashboard{% endblock %}
{% block content %}

<div class="cards">
                <a href="{% url 'student_finance' %}" class="card-single">
                    <div>
                        <span>Estudiantes</span>
                    </div>
                    <div>
                        <span class="las la-users"></span>
                    </div>
                </a>

                <a href="{% url 'payments_finance' %}" class="card-single">
                    <div>
                        <span>Pagos</span>
                    </div>
                    <div>
                        <span class="las la-shopping-bag"></span>
                    </div>
                </a>

                <a href="{% url 'report_finance' %}" class="card-single">
                    <div>
                        <span>Reportes</span>
                    </div>
                    <div>
                        <span class="las la-clipboard"></span>
                    </div>
                </a>

            </div>

{% endblock %}
