{% extends 'core/base_finance.html' %} 
{% load static %}
{% block title %}Estudiantes{% endblock %}
{% block estiloextras %}
<link rel="stylesheet" href="{% static 'core/css/forms-style.css' %}">
{% endblock %}
{% block content %}
<h1 class="titulo">Estudiantes</h1>
			<hr>
			<h2 class="titulo">Administrar Informacion De Los Estudiantes</h2>
			<a class="cancelar-pago" href="{% url 'student_finance' %}">Cancelar</a>

			<div class="container">
				<form method="POST" action="">
					{% csrf_token %}
					<div class="form-row">
						<div class="input-data">
							{{form.username}}
							<div class="underline"></div>
							<label for="">Matricula</label>
						</div>
						<div class="input-data">
							{{form.first_name}}
							<div class="underline"></div>
							<label for="">Nombre</label>
						</div>
					</div>
				<div class="form-row">
					<div class="input-data">
						{{form.last_name}}
						<div class="underline">
							
						</div>
						<label for="">Apellidos</label>
					</div>
					<div class="input-data">
						{{form.email}}
						<div class="underline">
							
						</div>
						<label for="">Email</label>
					</div>
				</div>
				<div class="form-row">
					<div class="input-data">
						{{form.password1}}
						<div class="underline">
							
						</div>
						<label for="">Contraseña</label>
					</div>
					<div class="input-data">
						{{form.password2}}
						<div class="underline">
							
						</div>
						<label for="">Repetir Contraseña</label>
					</div>
				</div>
				{{form.errors}}
					  <div class="form-row submit-btn">	
						  <div class="input-data">
							  <div class="inner"></div>
							  <input type="submit" value="Siguiente">
							</div>
						</div>
					</form>
				</div>
			</div>
{% endblock %}
