{% extends 'core/base_finance2.html' %} 
{% load static %}
{% block title %}Estudiantes{% endblock %}

{% block titleheader %}Estudiantes{% endblock %}


{% block content %}
<div class="recent-grid">
	<div class="projects">
		<div class="card">
			<div class="card-header">
				<h3>Administrar información</h3>
				<a href="{% url 'studentadd_finance' %}"> Agregar Estudiante <span class="las la-user-plus"></span></a>
			</div>
			

			<div class="card-body">
				<div class="table-responsive">
					{% if page_obj %}

					<table width="100%">
						<thead>
							<tr>
								<td>Matricula</td>
								<td>Nombre</td>
								<td>Carrera</td>
								<th>Perfil</th>
								<th>Registrar pago</th>
							</tr>
						</thead>
						<tbody>
							{% for alumno in page_obj %}
							<tr>
								<td data-label="Matricula">{{alumno.matricula}}</td>
								<td data-label="Nombre">{{alumno.nombre}} {{alumno.apellido}}</td>
								<td data-label="Carrera">{{alumno.clave_carrera.nombre_carrera}}</td>
								<td data-label="Perfil">
									<a href="{% url 'profile_student' alumno.matricula %}" class="la la-user la-2x"></a>
								</td>
								<td data-label="Registrar pago">
									<a href="{% url 'payadd_finance' alumno.matricula %}" class="la la-file-invoice-dollar la-2x"></a>
								</td>
							</tr>
							{% endfor %}
							
						</tbody>
					</table>
				{% else %}
					<h1>No Hay Registros De Alumnos</h1>
				{% endif %}
				</div>
			</div>

			<div class="pagination">
				<span class="step-links">
					{% if page_obj.has_previous %}
						<a class="paginador" href="?page=1">&laquo; Primero</a>
						<a class="paginador" href="?page={{ page_obj.previous_page_number }}">Anterior</a>
					{% endif %}
			
					<span class="current">
						Pagina {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
					</span>
			
					{% if page_obj.has_next %}
						<a class="paginador" href="?page={{ page_obj.next_page_number }}">Siguiente</a>
						<a class="paginador" href="?page={{ page_obj.paginator.num_pages }}">Ultima &raquo;</a>
					{% endif %}
				</span>
			</div>

		</div>
	</div>
</div>
{% endblock %}