{% extends 'core/base_finance.html' %} 
{% load static %}
{% block title %}Estudiantes{% endblock %}
{% block titleheader %}Estudiantes{% endblock %}
{% block estiloextras %}
<link rel="stylesheet" href="{% static 'core/css/forms-style.css' %}">
{% endblock %}
{% block content %}

			<div class="container">
				<form method="POST" action="">
					{% csrf_token %}
					<div class="form-row">
						<div class="input-data">
							{{form.direccion}}
							<div class="underline"></div>
							<label for="">Direccion</label>
						</div>
						<div class="input-data">
							{{form.telefono}}
							<div class="underline"></div>
							<label for="">Telefono</label>
						</div>
					</div>

				<div class="form-row">
					<div class="input-data">
						{{form.grupo}}
						<div class="underline">

						</div>
					</div>
					<div class="input-data">
						{{form.clave_carrera}}
						<div class="underline">

						</div>
					</div>
				</div>
				<div class="form-row">
					<div class="input-data">
						{{form.clave_plantel}}
						<div class="underline">

						</div>
						<label for="">Plantel</label>
					</div>
					<!-- <div class="input-data">
						{{form.password2}}
						<div class="underline">

						</div>
						<label for="">Repetir Contraseña</label>
					</div> -->
				</div>
				{{form.errors}}
					  <div class="form-row submit-btn">
						  <div class="input-data">
							  <div class="inner"></div>
							  <input type="submit" value="Guardar">
							</div>
						</div>
					</form>
				</div>
			</div>
{% endblock %}
