{% extends 'core/base_finance.html' %} 
{% load static %}
{% block title %}Cambiar Contraseña{% endblock %}
{% block titleheader %}Cambio De Contraseña{% endblock %}
{% block estiloextras %}
<link rel="stylesheet" href="{% static 'core/css/reset-password.css' %}">
{% endblock %}
{% block content %}
			<div class="container">
				<form id="form"  method="POST" class="form">
					{% csrf_token %}
					<div class="form-control">
						<label for="username">Nueva Contraseña</label>
						<input type="password" name="password1" placeholder="Nueva Contraseña" required/>
					</div>
					<div class="form-control">
						<label for="username">Confirmar Nueva Contraseña</label>
						<input type="password" name="password2" placeholder="Confirmar Nueva Contraseña" required"/>
					</div>
					<button>Guardar</button>
				</form>
			</div>
{% endblock %}
