{% extends 'core/base_finance2.html' %} 
{% load static %}
{% block title %}Cambiar Contraseña{% endblock %}
{% block titleheader %}Cambio De Contraseña{% endblock %}
{% block estiloextras %}
<link rel="stylesheet" href="{% static 'core/css/reset-password.css' %}">
{% endblock %}
{% block content %}
			<div class="container">
				<form id="form" class="form">
					<div class="form-control">
						<label for="username">Actual Contraseña</label>
						<input type="email" placeholder="Actual Contraseña" id="email" />
					</div>
					<div class="form-control">
						<label for="username">Nueva Contraseña</label>
						<input type="password" placeholder="Nueva Contraseña" id="password"/>
					</div>
					<div class="form-control">
						<label for="username">Confirmar Nueva Contraseña</label>
						<input type="password" placeholder="Confirmar Nueva Contraseña" id="password2"/>
					</div>
					<button>Guardar</button>
				</form>
			</div>
{% endblock %}
